<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">remove_red_eye</i>
            </div>
            <p class="card-category">Teste Visual</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'visual']">Começar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">audiotrack</i>
            </div>
            <p class="card-category">Teste Auditivo</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'auditivo']">Começar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">shuffle</i>
            </div>
            <p class="card-category">Teste Aleatorio</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'aleatorio']">Começar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">color_lens</i>
            </div>
            <p class="card-category">Teste das Cores</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'cores']">Começar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">sort_by_alpha</i>
            </div>
            <p class="card-category">Teste das Palavras</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'palavras']">Começar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning  card-header-icon">
            <div class="card-icon">
              <i class="material-icons">compare_arrows</i>
            </div>
            <p class="card-category">Teste de direita ou esquerda</p>
            <h3 class="card-title"></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">play_arrow</i>
              <a [routerLink]="['/selecao', 'd-e']">Começar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
