<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">Paciente: {{paciente.paciente_nome}}</h4>
                      <p class="card-category"> Gênero: {{ paciente.paciente_genero }}  Data de Nascimento: {{ paciente.paciente_data_de_nascimento }} </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          
                          <mat-accordion>
                            <mat-expansion-panel *ngFor="let test of testes">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{formatarDataSemHora(test.data_do_teste)}}
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                  Type your name and age
                                </mat-panel-description> -->
                              </mat-expansion-panel-header>
                              <mat-action-row>
                                  <a class="nav-link"  (click)="exportarLinha(test.teste)">
                                    <i class="material-icons">archive</i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Account</span>
                                    </p>
                                </a>
                               
                              </mat-action-row>
                              <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        N°
                                    </th>
                                    <th>
                                        Tipo de Teste
                                    </th>
                                    <th>
                                        Tempo do Teste
                                    </th>
                                    <th>
                                        Data do Teste
                                    </th>
                                   
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of test.teste; index as i">
                                      <td>{{ i + 1 }}</td>
                                      <td>{{ item.tipo_do_teste }}</td>
                                      <td>{{ diferenca(item.tempo_final, item.tempo_inicial) }}</td>
                                      <td>{{ formatarData(item.data_do_teste) }}</td>
                                     
                                  </tr>
                                    
                                </tbody>
                                
                            </table>

                            </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                      <button (click)="voltar()"  class="btn btn-success">Voltar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
